<div class="accordion bg-dark" id="accordionExample">
  <div class="accordion-item">
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body bg-dark">
        <form method="POST">
          <!-- withdraw design start -->
          <%- include("./partials/messages") %>
          <div class="row bg-dark">
            <div class="col-xl-4 col-lg-4 col-md-12 mx-auto">
              <div class="card">
                <div class="headeraccount">
                  <h2>Withdraw <strong>Funds</strong></h2>
                </div>
                <div class="body">
                  <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="form-group">
                      <label for="amount">Withdrawal PIN</label>
                      <input
                        class="form-control border-primary"
                        type="text"
                        name="pin"
                      />
                    </div>
                    <button
                      name="withdraw"
                      type="submit"
                      class="btn btn-primary btn-round btn-simple float-right m-l-10 btn-warning waves-effect"
                    >
                      Withdraw Funds
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
